@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

:root {
    --dark: lightblue;
}

body {
    font-family: 'Confortaa', cursive;
}

/* Header */
.navbar {
    background-color: var(--dark);
}

.navbar-item{
    transition: 0.3s ease-in-out all;
    height: 8vh;
}

/* Main */
.main-content{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crud-container{
width: auto;
padding: 2rem 3rem;
overflow: auto;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
border-radius: 0.5rem;
}

.crud-header{
display: flex;
justify-content:space-between;
padding: 0 2rem 1rem 2rem;
border-bottom: 1px solid;
}

.crud-container h1{
    font-weight: bold;
    font-size: 24px;
}

.button span{
    margin-left: 10px;
}